<%@page import="java.util.List"%>
<%@page import="java.util.Iterator"%>
<%@page contentType="text/html" pageEncoding="UTF-8"%>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title> Cities in India </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

        <script>
        $(document).ready(function(){
        $('#myTable').dataTable();

        });
        </script>
         
</head>
<body>
     
    
<div class="container">
  <h2>  Main Category List  </h2>
<div class="table-responsive">
  <table id="myTable" class="display table">
<thead>
<tr>

<th>Main Category </th>
 
</tr>
        </thead>
        <tbody>
            
            
        <%Iterator itr;%>
        <%List data = (List) request.getAttribute("mlist");
        for (itr = data.iterator(); itr.hasNext();)
        {
        %>
        <tr>
        <% String s= (String) itr.next(); %>
        <td><%=s%></td>
        <% } %>
</tr>
</tbody>
</table>

</div>

</div>



</body>
</html>

